{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Create an account</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
  </head>

  <body class="bg-dark">

    <div class="container-fluid">
      <div class="col-md-4 mr-auto ml-auto text-muted bg-white" style="padding: 30px">
      <h2>Create Account</h2>
      <hr>

      {% if messages %}
      <div class="alert alert-success">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </div>
      {% endif %}

      <form class="" action="" method="post">
        {% csrf_token %}

        <div class="form-group">
          <label for="{{ form.first_name.id_for_label }}"><small>Fist Name:</small></label>
          {{ form.first_name.errors }}
          {{ form.first_name }}
        </div>
        <div class="form-group">
          <label for="{{ form.last_name.id_for_label }}"><small>Last Name:</small></label>
          {{ form.last_name.errors }}
          {{ form.last_name }}
        </div>
        <div class="form-group">
          <label for="{{ form.username.id_for_label }}"><small>Username:</small></label>
          {{ form.username.errors }}
          {{ form.username }}
        </div>
        <div class="form-group">
          <label for="{{ form.password.id_for_label }}"><small>Password:</small></label>
          {{ form.password.errors }}
          {{ form.password }}
        </div>


          <button type="submit" class="btn-lg btn-block btn-primary">Sign up</button>

        <p class="mt-5 mb-3 text-muted">&copy; 2018</p>

      </form>

    </div>
  </div>
  </body>
</html>
