{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Sign in</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
  </head>

  <body class="bg-dark">

    <div class="container-fluid">
      <div class="col-md-4 mr-auto ml-auto text-muted bg-white" style="padding: 30px">
      <h2>Sign in</h2>
      <hr>

      <form class="" action="" method="post">
        {% csrf_token %}

        {% if messages %}
        <div class="alert alert-danger" role="alert">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
        </div>
        {% endif %}

        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control mb-2" placeholder="Username" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control mb-2" placeholder="Password" required>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>

        <button type="submit" class="btn-lg btn-block btn-success">Sign in</button>
        <br>
        <p>Don't have an account? <a href="{% url 'accounts:add_user' %}">Sign up!</a></p>
        <p class="mt-5 mb-3 text-muted">&copy; 2018</p>

      </form>

    </div>
  </div>
  </body>
</html>
